<div class="rounded pl-1 pr-1">
    <div class="rounded pl-2" style="border:1px solid blanchedalmond">
        <div class="row l-raw">
            <div class="col-4">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Billing#</label>
                    </div>
                    <div class="col-sm-4 pr-0">
                        <input ng-disabled="uicompo.itemDisabled" ng-model="uicompo.billingNumber" style="width: 100px;"
                               type="text">
                    </div>
                    <div class="col-sm-2 p-0">
                        <button class="btn btn-warning" ng-click="searchBilling();"
                                style="width: 45px;"
                                title="Re - Print"
                                type="button"><i
                                class="fa fa-search"></i></button>
                    </div>
                    <div class="col-sm-2 p-0">
                        <button class="btn btn-primary" ng-click=""
                                title="Re - Print"
                                type="button">Advance
                        </button>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="row">
                    <div class="col-sm-2 p-0">
                        <label class="font-size-sm">Scan#</label>
                    </div>
                    <div class="col-sm-6">
                        <input ng-disabled="uicompo.itemDisabled" ng-model="patientScan.scanNumber"
                               type="text">
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Patient</label>
                    </div>
                    <div class="col-sm-6">
                        <input ng-disabled="uicompo.itemDisabled" ng-model="patient.patientName" style="width: 350px;"
                               type="text">
                    </div>
                </div>
            </div>
        </div>

        <div class="row l-raw">
            <div class="col-2">
                <div class="row">
                    <div class="col-sm-2">
                        <label class="font-size-sm">Sex: </label>
                    </div>
                    <div class="col-sm-6">
                        <span>{{patient.gender}}</span>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-2">
                            <label class="font-size-sm">BHT :</label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{patient.bht}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div class="row">
                    <div class="row">
                        <div class="col-sm-1">
                            <label class="font-size-sm">Age: </label>
                        </div>
                        <div class="col-sm-6">
                            <span>{{patient.currentAge}}</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 p-0">
                <div class="row">
                    <div class="col-sm-3 p-0">
                        <label class="font-size-sm">SeenBy: </label>
                    </div>
                    <div class="col-sm-9">
                        <span>{{patient.seenBy}}</span>
                    </div>
                </div>
            </div>
            <div class="col-2 pl-5">
                <div class="row">
                    <div class="col-sm-2 p-0">
                        <label class="font-size-sm">Date</label>
                    </div>
                    <div class="col-sm-6">
                        <span>{{patient.dateCreated  | date:'yyyy-MM-dd'}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="raw pt-1 pb-1">
        <div>
            <span style="color: red">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Data has been not added to system until save </span>
        </div>
    </div>
    <div class="row l-raw pt-1 pr-1">
        <div class="col-10 p-0">
            <div class="container rounded" style="border:3px solid green">
                <div class="row l-raw pt-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="font-size-sm">Procedure</label>
                            </div>
                            <div class="col-sm-11">
                                <textarea name="input" ng-disabled="uicompo.itemDisabled"
                                          ng-model="patientScan.procedure" rows="4" cols="100"
                                          title=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row l-raw pt-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="font-size-sm">Indication</label>
                            </div>
                            <div class="col-sm-11">
                                <textarea name="input" ng-disabled="uicompo.itemDisabled"
                                          ng-model="patientScan.indication" rows="4" cols="100"
                                          title=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row l-raw pt-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="font-size-sm">Finding</label>
                            </div>
                            <div class="col-sm-11">
                                <textarea name="input" ng-disabled="uicompo.itemDisabled" ng-model="patientScan.finding"
                                          rows="4" cols="100"
                                          title=""/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row l-raw  pt-3 pb-3">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-sm-1">
                                <label class="font-size-sm">Impression</label>
                            </div>
                            <div class="col-sm-11">
                                <textarea name="input" ng-disabled="uicompo.itemDisabled"
                                          ng-model="patientScan.impression" rows="4" cols="100"
                                          title=""/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-2 pr-0 pl-4">
            <div class="row">
                <table class="table" id="fixTable">
                    <thead class="bg-secondary text-light">
                    </thead>
                    <tbody>
                    <tr>
                        <td>
                            <button class="btn btn-primary" ng-click="saveModal();"
                                    ng-disabled="disabledLoadByBillingNum"
                                    title="Re - Print"
                                    type="button">Save Scan
                            </button>
                            <button class="btn btn-success" ng-click="showImage();"
                                    ng-disabled="disabledLoadByBillingNum"
                                    title="Re - Print"
                                    type="button">Img
                            </button>
                        </td>
                    </tr>
                    <tr ng-repeat="itm in scanHistortyList | filter : searchKeyword">
                        <td style="padding-bottom: 1px; padding-top: 1px;"><i src="" ng-click="showHistory(itm);"><span
                                style="color: royalblue">{{itm.name}}</span>-<span style="color: firebrick">{{itm.dateCreated | date:'dd-MMM-yy'}}</span></i>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-scan-history">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">{{heading}}</h4>
                <button class="close" data-dismiss="modal" type="button">&times;</button>
            </div>
            <form name="form" ng-submit="save_submit();" role="form">
                <!-- Modal body -->
                <div class="modal-body">
                    <div class="container rounded" style="border:1px solid blanchedalmond">
                        <div class="row l-raw">
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="font-size-sm">Patient Name</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span>{{patient.patientName}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="font-size-sm">Bill #</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <span>{{patientTest.billingNumber}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="row">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label class="font-size-sm">Age: </label>
                                        </div>
                                        <div class="col-sm-6">
                                            <span>{{patient.currentAge}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr/>

                        <div class="row l-raw">
                            <div class="col-4">
                                <label class="font-size-sm"><strong>Test Name</strong></label>
                            </div>
                            <div class="col-4">
                                <label class="font-size-sm"><strong>Results :</strong></label>
                            </div>
                        </div>
                        <div class="row l-raw">
                            <div class="col-4">
                                <span>{{patientTest.name}}</span>
                            </div>
                            <div class="col-4">
                                <span>{{patient.results}}</span>
                            </div>
                        </div>
                        <div class="row l-raw">

                        </div>
                    </div>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>
</div>






