<div class="container">

    <div class="row pt-5">
        <div class="col-sm-12 tcenter">
            <div class="alert alert-primary" role="alert">
                <h4>Patient Graph</h4>
            </div>
            <div id="patientGraph"></div>
        </div>
    </div>
    <div class="row">

        <div class="col-sm-4 tcenter">
            <div class="alert alert-primary" role="alert">
                <h4>Patients by Tests</h4>
            </div>
            <div class="input-group">
                <select class="form-control"
                        ng-change="onChangeTestName();" ng-model="uicompo.selectedTestId" style="width: 250px;">
                    <option ng-repeat="(key, value) in  medicalTestList" value="{{key}}">{{value}}</option>
                </select>
            </div>
            <div>
                <div id="patientChart"></div>
            </div>
        </div>

        <div class="col-sm-4 tcenter">
            <div class="alert alert-primary" role="alert">
                <h4>Patient</h4>
            </div>
            <div id="patientByTest"></div>
        </div>
        <div class="col-sm-4 tcenter">
            <div class="alert alert-primary" role="alert">
                <h4>Medical Test</h4>
            </div>
            <div id="testChart"></div>
        </div>

    </div>
</div>